@import "./Variables";

@mixin buttonStyle($color, $fontSize) {
    width: 200px;
    height: 40px;
    background-color: $color;
    border: none;
    border-radius: 8px;
    color: $whiteColor;
    font-size: $fontSize;
}

@mixin aLink($color, $font-size) {
    color: $color;
    font-size: $font-size;
    text-decoration: none;
    font-family: $titleFont;
    margin: 10px;
}