$greyColor: #808080;
$whiteColor: #FFF;
$redColor: #FF0000;
$greenColor: #00FF00;

$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;

@mixin buttonStyle($color, $fontSize) {
    width: 200px;
    height: 40px;
    background-color: $color;
    border: none;
    border-radius: 8px;
    color: $whiteColor;
    font-size: $fontSize;
}