@import "../variables/_Variables.scss";
@import "../variables/mixins";

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $redColor;
    }

    .mainBtn {
        @include buttonStyle($redColor, 35px);
        &:hover {
            background-color: $greenColor;
        }
    }
}